<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Stupid Coaching
  </h1>

  <div class="dialogue">
    <p><%= params[:question] %></p>
    <p>&mdash;<em>You</em></p>
  </div>

  <div class="dialogue">
    <p><%= @coach %></p>
    <p>&mdash;<em>Coach</em></p>
  </div>

  <p><%= link_to "Ask a new question", ask_path %></p>

</body>
</html>
