<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Stupid Coaching
  </h1>

  <p><%= params[:question] %></p>
  <p>-- <em>You</em></p>

  <p><%= @coach %></p>
  <p>-- <em>Coach</em></p>

  <p><%= link_to "Ask a new question", ask_path %></p>

</body>
</html>
