<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
    <form action="/answer">
      <input type="text" name="question" value="<%= params[:question] %>" placeholder="Talk to the coach">
      <input type="submit" value="Submit">
    </form>
</body>
</html>
